* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #ff8bb2;
  --secondary-color: #b5d2ff;
  --input-color: #6a7996;
  --white-color: #fff;
  --main-color: #354062;
}
body {
  background: url("../images/space-world.webp") no-repeat center center/cover;
  height: 100vh;
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
P
/* -------sign-up page----- */
.main-container {
  max-width: 1200px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#sign-up {
  width: 350px;
  min-width:200px;
  max-width:350px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  border-radius: 2rem;
  background-color: var(--main-color);
  backdrop-filter: blur(0.5px);
  box-shadow: 4px 10px 20px -10px rgba(155, 155, 155, 0.3);
  border-right: 1px solid hsla(0, 0%, 100%, 0.2);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#sign-up .title {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;

}
#sign-up .title h1 {
  font-size: 1.6rem;
  color: var(--primary-color);
}
input{
  border: 2px solid var(--input-color);
  outline: none;
  margin: .5rem;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 250px;
  min-width: 200px;
  max-width: 300px;
  background-color: var(--input-color);
  color: var(--white-color);
}
input:hover {
  border: 2px solid var(--primary-color);
  transition: all 0.5;
}
.label-terms {
  font-size: .9em;
  width: 70%;
  margin: 1rem auto;
  text-align: left;
}
#sign-up input[type="checkbox"] {
  margin: 0;
  padding: 0;
  min-width: 15px;
  max-width: 15px;
  vertical-align: middle;
}
.forgot {
  font-size: .9em;
  width: 80%;
  margin: 1rem auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-weight: 700;
  border: 2px solid var(--primary-color);
}
.btn:hover {
  background-color: #354062;
  cursor: pointer;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  transition: all 0.3s;
}
.sign-link {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: .85rem;
  font-weight: 100;
  line-height: 2rem;
}
::placeholder {
  color: var(--white-color);
  font-size: .8rem;
}
::selection {
  color: var(--white-color);
  background-color: var(--primary-color);
}


#sign-up a {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 0.9rem;
  margin-left: 0.6rem;
}


/* --------sign-in page----- */
#sign-in {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 350px;
  min-width: 200px;
  max-width:350px;
  height: 60vh;
  min-height: 500px;
  padding: 3rem;
  border-radius: 2rem;
  background-color: var(--main-color);
  backdrop-filter: blur(0.5px);
  box-shadow: 4px 10px 20px -10px rgba(155, 155, 155, 0.3);
  border-right: 1px solid hsla(0, 0%, 100%, 0.2);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
}
#sign-in .label-terms,
#sign-in .label-terms a{
  display: flex;
  justify-content: center;
  width: 20vw;
  font-size: .85rem;
}
#sign-in a {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 0.9rem;
  margin-left: 0.6rem;
  line-height: 1rem;
}
#sign-in .title h1 {
  font-size: 1.6rem;
  color: var(--primary-color);
}
#sign-in .title {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
}
.sign-link {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: .85rem;
  text-align: center;
}

/* ------responsive---- */
@media screen and (max-width: 400px) {
  #sign-up {
    width:250px;
    }
  #sign-in {
    width: 250px;
  }
  input {
    width: 150px;
  }
  #sign-in .title h1,
  #sign-up  .title h1 {
    font-size: 1.2rem;
  }
 }
